
body {
    background-color: #EED9DA;
}

nav {
    background-color: #822D41 !important;
}



.navbar-brand, .nav-link {
    color: #EED9DA !important;
}
.deck-detail-header, .card-detail-header {
    border-radius: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    box-shadow: 10px 5px 5px grey;
    padding: 10px;
    background-color: #EED9DA;
    border: 1px solid lightgrey;
    border-left: 10px solid #822D41;
}

.deck-detail-header-deckname {
    border-radius: 25px;
    font-size: 30px;
}

.add-new-card-link {
    color: #EED9DA;
    padding-left: 0;
    background-color: #822D41;
}

.start-quiz-container {
    color: #EED9DA;
    text-align: end;
   
}

.start-quiz-button {
    color: #EED9DA;
    border: none;
    background-color: #822D41;
}

.delete-card-button {
    color: #822D41;
    padding-left: 0;
}

.card {
    border-radius: 25px;
    border: none;
    background-color: #EED9DA;
    border-bottom: 1px solid lightgrey;
}

.add-new-card-container {
    border-radius: 25px;
    border-bottom: 1px solid lightgrey;
    color: #822D41;
}

.deck-container {
    border-radius: 25px;
    border: 1px solid lightgrey;
    border-left: 10px solid #822D41;
    background-color: #EED9DA;
}

.login-button {
    border-radius: 25px;
    background-color: #822D41 !important;
    color: #EED9DA;
    width: 100%;
}

.login-container {
    border-radius: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EED9DA;
    box-shadow: 10px 5px 5px #EED9DA;
    padding: 10px;
    background-color: #EED9DA;
    border: 1px solid #EED9DA;
    border-top: 10px solid #822D41;
}